* {
    margin: 0;
    scroll-behavior: smooth;
}

.black {
    color: black;
}

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 0.5em;
}

.desc-titulo {
    margin-top: -2.5em;
    font-size: 1em;
    color: #bdc5ca;
    font-weight: bold;
    margin-top: -20px;
    margin-left: 1.3em;
}

.cabeca {
    background-image: url(../image/background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
}

.conteudo {
    margin-top: 5vh;
    margin-left: 7vw;
    text-align: justify;
    width: 85%;
}

.pe {
    margin-top: 5vw;
    margin-left: 7vw;
    margin-bottom: 5vw;
    width: 85%;
    height: 5vw;
}

.titulo-section {
    margin-top: 2em;
}

.document {
    margin-bottom: -100px
}

.js, .vue, .html, .css, .php {
    width: 100px;
    height: 100px;
    margin-left: 4%;
}

.technologies {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.363);
    padding: 30px;
    margin-top: 1em;
    margin-left: 28%;
    width: 30%;
}

.titulo-technologies {
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
}

.icones {
    width: 20%;
}

.topico {
    font-size: 1.5em;
}

.titulo-section{
    font-size: 2em;
}

@media (min-width: 576px) { 
    .titulo {
        font-size: 2.8em;
    }
    .desc-titulo {
        font-size: 1.5em;
    }
    .cabeca {
        background-position: center;
    }
    .pe {
        margin-top: 2vw;
        margin-left: 7vw;
        margin-bottom: 1.5vw;
    }
    .technologies {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.363);
        padding: 30px;
        margin-top: 1em;
        width: 90%;
        margin-left: 2em;
    }
    .icones {
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .titulo {
        font-size: 3em;
    }
}

@media (min-width: 992px) { 
    .titulo {
        font-size: 4em;
    }
}

@media (min-width: 1200px) { 
    .titulo {
        font-size: 5em;
    }
}


