
body {
    overflow-y: hidden;
    margin: 0;
}

.document {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.parallax-conf { 
    position: relative;
    align-items: center;
    justify-content: center;
    color: black;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.55);
    background-size: 100%;
    z-index: -2;
}

.static {
    background: white;
}

.bg1::after {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position-y: -700px;
    background-size: cover;
}
  
.bg2::after {
    background-image: url("../image/test.jpg");
}
  
.conteudo {
    width: 55%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3em 0;
}

.section {
    text-align: justify;
}

.cabeca {
    height: 60vh;
    margin-top: -7.5%;
}

.titulo {
    z-index: 1;
    position: absolute;
    height: 100px;
    width: 100px;
    color: white;
}